
/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-blue: #1079B2;
$primary-lightblue: #ddedf4;
$primary-purple: #44449b;
$primary-darkgrey: #212221;
/*$primary-subfont: 'Dancing Script', cursive;
$primary-font: 'Roboto Condensed', sans-serif;*/


* {
	margin: 0;
	padding: 0;
}

* {
	/*border: 1px solid red;*/
}

body {
}

nav {
	height: 13vh;
  background: $primary-darkgrey;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.nav_loggin-menu {
  background: $primary-purple;
	height: 4vh;
	padding: 7px 7px;

}

/*.nav_search-box {
  float: left;
}*/

.nav_login-box {
	float: right;
	/*display: none;*/
}

.nav_search-box {
  float: left;
}

.login-input {
	width: 125px;
	height: 30px;
}

.submit {
  height: 34px;
  width: 50px
}
.nav_header {
	font-size: 40px;
	padding: 10px;
	line-height: .4;
}

.booked_date-section {
  background: $primary-purple;
  height: 5vh;
  padding: 7px 7px;
}

.booked_input {
  background: #ffffff;
}

.nav_header-sub {
	font-size: 14px;
}

main {
}

.main_area {
	height: 83vh;
	width: 68%;
  float: left;
  display: inline-block;
}

.main_customer-area {
}

.main_customer-box {
  height: 5vh;
  width: 42%;
  float: right;
  background: $primary-blue;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 5px;
  margin: 5px;
}

.display_manager {
	display: none;
}

.display {
	display: block;
}

.display_login {
	background: $primary-lightblue;
  width: 100%;
	min-height: 80vh;
  display: flex;
  flex-direction: row;
} 

.login-feature {
  width: 40%;
  height: 30vh;
  background: $primary-blue;
  color: #ffffff;
}

.login_feature-left {
  float: left;
  text-align: center;
  color: #ffffff;
  margin: 17% 10px;
  width: 45%;
  height: 36vh;
  border: 2px solid $primary-darkgrey;
}

.nav_left-feature {
  height: 4vh;
  background: $primary-darkgrey;
  font-family: 'Roboto Condensed', sans-serif;
}

.feature_room-text {
  font-family: 'Dancing Script', cursive;
}

.feature_body {
  display: flex;
  flex-direction: row;
}

.img_box {
  height: 32vh;
  width: 50%;
  background: $primary-blue;
}

.feature_menu-box {
  height: 32vh;
  background: $primary-lightblue;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $primary-darkgrey;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
}

.feature_book-button {
  width: 100%;
  height: 8vh;
  background: $primary-purple;
  color: #ffffff;
  font-size: 22px;
}

.customer_booked-room {
  background: #42b1ee;
  display: inline-block;
  width: 30%;
  height: 85vh;
  margin: 10px;
  overflow: scroll;
}

.customer_booked-text {
  font-size: 32px;
  padding-top: 10px;
}

.customer_booked-header {
  /*width: 80%;*/
  height: 8vh;
  background: $primary-darkgrey;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #ffffff;
}

.login_feature-right {
  float: right;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 17% 10px;
  width: 45%;
  height: 36vh;
}

.customer_login {
  float: right;
  display: inline-block;
  width: 30%;
  height: 80vh;
  margin: 10px;
}

.main_info-section {
	width: 45%;
  height: 25%;
  background: $primary-blue;
  color: #ffffff;
  margin: 5px;
  display: inline-block;
}

.customer_feature {
	width: 25%;
  height: 35%;
  background: $primary-blue;
  color: #ffffff;
}

.display_customer {
  float: left;
  width: 30%;
  text-align: center;
  display: inline-block;
  margin: 10px;
  overflow: scroll;
}

.display_none {
	display: none;
}

.main_manager {
	background: $primary-lightblue;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main_manager-operations {
	background: $primary-blue;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ffffff;
	width: 70%;
	height: 45%;
	margin: 0 auto;
}

.manager_info-boxes {
	display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;
}

.info_boxes {
	width: 31%;
	height: 150px;
	background: $primary-blue;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ffffff;
	margin: 10px;
}

.manager_rooms-available {
  text-align: center;
}

.room_available-number {
	font-size: 75px;
}

.room_available-text {
	font-size: 14px;
}

.manager_total-revenue {
	text-align: center;
}

.room_revenue-number {
	font-size: 51px;
	margin-top: 23px;
}

.room_revenue-text {
  font-size: 14px;
}

.manager_percent-occupied {
	text-align: center;
}

.percent_number {
	font-size: 75px;
	margin-top: 23px;
}

.percent_text {
	font-size: 14px;
}

.booking_room-image {
  height: 20vh;
  width: 50%;
  background: $primary-blue;
}

.booking_room-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.type_button {
  width: 24%;
  height: 3vh;
  display: inline-block;
  text-align: center;
  background: $primary-darkgrey;
  color: #ffffff;
}

.customer_book-button {
  width: 100%;
  height: 5vh;
  background: $primary-purple;
  color: #ffffff;
  font-size: 14px;
}

.booking_room-container {
  height: 20vh;
  background: $primary-lightblue;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: 12px;
  border: 2px solid $primary-darkgrey;

}

.room_date-container {
  height: 20vh;
  background: $primary-lightblue;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 12px;
}

.booked_type-room {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




