
/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-blue: #1079B2;
$primary-lightblue: #ddedf4;
$primary-purple: #44449b;
$primary-darkgrey: #212221;

* {
	margin: 0;
	padding: 0;
}

* {
	/*border: 1px solid red;*/
}

body {
}

nav {
	height: 13vh;
  background: $primary-darkgrey;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.nav_drop-menu {
  background: $primary-purple;
	height: 4vh;
	padding: 7px 7px;
	transition: height .2s;

}

/*.nav_drop-menu:hover .nav_login {
  display: block;
  height: 6vh;
}*/

.nav_login {
	float: right;
	/*display: none;*/
}

/*.nav_login:hover {
  display: block;
}*/

.login-input {
	width: 125px;
	height: 30px;
}

.nav_header {
	font-size: 40px;
	padding: 10px;
	line-height: .4;
}

.nav_header-sub {
	font-size: 14px;
}

main {
}

.main_area {
	height: 83vh;
	width: 68%;
  float: left;
  display: inline-block;
}

.main_customer-area {
	height: 83vh;
	width: 30%;
  float: right;
  background: $primary-blue;
  color: #ffffff;
  padding: 5px;
}

.main_info-section {
  height: 125px;
  width: 250px;
  background: $primary-blue;
  margin: 5px;
}

.display_customer {
	width: 90%;
	height: 90%;
}

.display_manager {
	display: none;
}


.display {
	display: block;
}

.display_login {
	background: $primary-lightblue;
	height: 80vh;
} 

.login-feature {
  width: 40%;
  height: 30%;
  background: $primary-blue;
  color: #ffffff;
}

.login_feature-left {
  float: left;
  text-align: center;
  background: $primary-blue;
  color: #ffffff;
  margin: 20% 10px;
  width: 45%;
  height: 30%;
}

.login_feature-right {
  float: right;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20% 10px;
  width: 45%;
  height: 30%;
}

.customer_login {
  float: right;
  display: inline-block;
  width: 45%;
  height: 70%;
  margin: 10% 10px;
}

.main_customer-area {
	width: 45%;
  height: 30%;
	/*display: none;*/
}

.main_info-section {
	width: 25%;
  height: 35%;
  background: $primary-blue;
  color: #ffffff;
}

.customer_feature {
	width: 25%;
  height: 35%;
  background: $primary-blue;
  color: #ffffff;
}

.display_customer {
  float: left;
  text-align: center;
}

.display_none {
	display: none;
}

.main_manager {
	background: $primary-lightblue;
	height: 80vh;
	display: flex;
	/*padding-top: 15%;*/
	flex-direction: column;
	justify-content: center;
}

/*.display_manager {
	width: 70%;
	height: 45%;
	background: $primary-blue;
	border: 1px solid red;
}*/

.main_manager-operations {
	background: $primary-blue;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ffffff;
	width: 70%;
	height: 45%;
	margin: 0 auto;
}

.manager_info-boxes {
	display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;
}

.info_boxes {
	width: 150px;
	height: 150px;
	background: $primary-blue;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ffffff;
	margin: 10px;
}

.manager_rooms-available {
  text-align: center;
}

.room_available-number {
	font-size: 75px;
}

.room_available-text {
	font-size: 14px;
}

.manager_total-revenue {
	text-align: center;
}

.room_revenue-number {
	font-size: 33px;
	margin-top: 23px;
}

.room_revenue-text {
  font-size: 14px;
}

.manager_percent-occupied {
	text-align: center;
}

.percent_number {
	font-size: 75px;
	margin-top: 23px;
}

.percent_text {
	font-size: 14px;
}
